
html {
   scroll-behavior: smooth; }
body {
  margin:0;
  font-family:'Poppins', Arial, sans-serif;
  background:#f2f2f2;
  color:#333;
  text-align: center;
  
}


nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 10%;
  background:#000;
  color:#fff;
  position:sticky;
  top:0;
  z-index:1000;
}
.logo{ font-size:1.7rem; font-weight:bold; }
.logo span{ color:orangered; }
.nav-links{
  list-style:none;
  display:flex;
  gap:1.5rem;
}
.nav-links a{
  color:#fff;
  text-decoration:none;
  font-size:1.1rem;
  transition:0.5s ease-in-out;
}
.nav-links a:hover{ 
  color:orangered;
  transition: 0.5s ease-in;
 }

.nav-search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.nav-search:hover {
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

.nav-search input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
}

.nav-search button {
  background: orangered;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-search button:hover {
  background: #9e210e;
}


.hero{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("backgrounds/shutter-less-walk-in-wardrobe.jpg");
  background-size:cover;
}
.hero h1{ font-size:3rem; }

.hero button{
  margin-top:10px;
  padding:12px 30px;
  background:linear-gradient(135deg,#ff4d00,#ff0000);
  border:none;
  border-radius:30px;
  color:white;
  font-weight:bold;
  cursor:pointer;
}
.hero button:hover{
  background:#ff1e00;
  transform: scale(1.05);
}

.categories{
  display:flex;
  gap:15px;
  justify-content:center;
  padding:20px;
  background:#111;
}
.category-item{
  color:white;
  background:#222;
  padding:10px 20px;
  border-radius:25px;
  text-decoration:none;
  transition:.3s;
  
}
.category-item:hover{ background:orangered; }



.products{
  padding:60px 10%;
  text-align:none;
}
.product-group{ display:none; }
#all{ display:block; }
.product-group:target{ display:block; }


.card-wrapper{
  display:flex;
  gap:2rem;
  text-align: left;
  justify-content:center;
  flex-wrap:wrap;
   font-weight:bold;
}
.card{
  width:280px;
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 6px 15px rgba(0,0,0,.15);
  transition:.3s;
}
.card:hover{
  transform:translateY(-10px);
}
.card img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:10px;
}

.size-selector{
  display:flex;
  justify-content:left;
  gap:10px;
  font-weight:bold;
}
.size-selector input{ 
    display:none; }
.size-selector span{
  border:1px solid #aaa;
  width:36px;
  height:36px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}
.size-selector input:checked + span{
  background:black;
  color:white;
}
.size-selector span:hover {
  transform: scale(1.15);
}
.color-selector {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.color-selector input {
  display: none; 
}

.color-selector span {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s ease;
}


.color-selector input:checked + span {
  border-color: black;
  box-shadow: 0 0 0 2px black;
}


.color-selector span:hover {
  transform: scale(1.15);
}


.color-black  { background: black; }
.color-white  { background: white; border: 2px solid #999; }
.color-maroon { background: maroon; }
.color-olive  { background: rgb(14,51,10); }



.card button{
  margin-top:10px;
  width:100%;
  padding:10px;
  background:orangered;
  border:none;
  border-radius:25px;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

  
.card button:hover{
  background:#ff0000;
  transform: scale(1.05);
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 40px;
}
.about-button{
  margin-top:20px;
  padding:12px 30px;
  border:none;
  border-radius:30px;
  color:white;
  font-weight:bold;
  cursor:pointer;

}

.about-text {
  flex: 1;
  
}
.about-text button:hover{
  background:#ff1e00;
  transform: scale(1.05);
}



.map {
  flex: 1;
  text-align: center;
}
.map {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.map iframe {
  width: 100%;
  max-width: 500px;  
  aspect-ratio: 1 / 1; 
  height: auto;
  border: 0;
}


.map img {
  max-width: 100%;
  height: auto;
}
@media(max-width:900px){
  .about{
    flex-direction:column;
  }}

#contact{
padding: 20px 10%;
text-align: center;
}

.contact-wrapper{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-form{
    flex: 1 1 300px;
    max-width: 500px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.map{

    flex: 1 1 300px;
    max-width: 500px;
}

.map img {
  width: 100%;
  max-width: 500px;  
  height: auto;
  border-radius: 15px;
  display: block;
  border: #000 2px solid;
}



input{
    width: 90%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid grey;

}

textarea{
    width: 90%;
    padding: 3rem 1rem;
    border-radius: 0.5rem;
}
button{
    padding: 1rem 2rem;
    border: none;
    background: orangered;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
}
.footer{
  background:black;
  color:white;
  padding:30px 10%;
  text-align:center;
}
.footer i{
  margin:0 10px;
  cursor:pointer;
}
.footer i:hover{ color:orangered; }



@media (min-width: 600px) {
  .contact-container {
    display: flex; 
  }
}


@media (max-width: 599px) {
  .contact-container {
    display: block; 
  }
}